.page-wrapper {
    background-color: #FFFFFF;
    transition: transform @slide-time;
}

.page-header {
    position: relative;
    height: auto;
    padding: 200px 36px;
    text-align: center;
    color: #ffffff;
    overflow: hidden;
    background: url(../images/wood.jpg);
    background-size: cover;
    background-position: center center;
    .bg_horizon {
        position: absolute;
        left: 0;
    }
    .bg_horizon {
        width: 100%;
        bottom: 0;
    }
    .page-title {
        position: relative;
        .author {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 6rem;
            font-weight: 500;
            margin-top: 0;
        }
        .author-description {
            text-align: center;
            font-size: 2rem;
        }
    }
    @media @desktop {
        height: 100vh;
        padding: 0 38px;
        .page-title {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.about {
    @bg-color: #EDEEEF;
    @triangle-height: 50px;
    position: relative;
    background-color: @bg-color;
    color: #000000;
    text-align: center;
    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: -@triangle-height;
        border: solid 0px transparent;
        border-bottom-width: @triangle-height;
        border-left: solid 100vw @bg-color;
    }
}

.skills {
    padding: 100px 0 50px 0;
    .skill-list {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            overflow: hidden;
            height: 100px;
            line-height: 100px;
            margin: 26px;
            img {
                width: 100%;
                max-width: 100px;
                max-height: 100%;
                vertical-align: middle;
            }
            @media @tablet {
                height: 150px;
                line-height: 150px;
                width: 14%;
                margin: 40px 5%;
                img {
                    max-width: 150px;
                    max-height: 150px;
                }
            }
        }
    }
}

.portfolio {
    position: relative;
    background: url('../images/gradient.jpg') center center /cover;
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    @triangle-height: 50px;
    &::before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        border: solid 0px transparent;
        border-bottom-width: @triangle-height;
        border-left: solid 100vw #FFFFFF;
    }
    .portfolio-inner {
        display: flex;
        flex-direction: column;
        .portfolio-item {
            position: relative;
            flex-basis: 100%;
            overflow: hidden;
            img {
                width: 100%;
            }
            &:hover {
                .portfolio-item-llayer {
                    transform: translate3d(63.8%, -41.8%, 0) rotate(-45deg);
                }
                .portfolio-item-rlayer {
                    transform: translate3d(-65.8%, 45.8%, 0) rotate(-45deg);
                }
            }
            .portfolio-item-llayer {
                top: 100%;
                left: -100%;
                text-align: right;
                transform: rotate(-45deg);
                .portfolio-item-view {
                    margin: 0px 20px 20px 0;
                    transform: rotate(45deg);
                    background: url('../images/portfolio/paper_plane.png') center center no-repeat /40px 40px;
                }
            }
            .portfolio-item-rlayer {
                left: 100%;
                top: -200%;
                transform: rotate(-45deg);
                text-align: left;
                .portfolio-item-git {
                    margin: 0px 0px -20px 20px;
                    transform: rotate(45deg);
                    background: url('../images/portfolio/git.svg') center center no-repeat /40px 40px;
                }
            }
            .portfolio-item-llayer,
            .portfolio-item-rlayer {
                line-height: 41;
                width: 100%;
                height: 200%;
                position: absolute;
                background-color: rgba(119, 119, 119, 0.6);
                transition: transform 700ms, background-color 400ms;
                .portfolio-item-view,
                .portfolio-item-git {
                    background-color: #ffffff;
                    display: inline-block;
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    box-shadow: 0 0 1px 1px #000000;
                }
                &:hover {
                    background-color: rgba(0, 0, 0, 0.7);
                }
            }
        }
        @media @tablet {
            flex-direction: row;
            flex-wrap: wrap;
            .portfolio-item {
                flex-basis: 33.333%;
            }
        }
    }
}

.contact {
    background-color: #d4d4d4;
    padding: 200px 50px;
}

.page-footer {
    background-color: #414141;
    color: #FFFFFF;
    overflow: auto;
    text-align: center;
    padding: 30px 36px;
}