.page-nav { 
    transform: translate3d(@nav-width, 0, 0);
    width: @nav-width;
    min-height: 9999px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: @bg2;
    padding: 20px;
    border-left: solid 2px #585858;
    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        li {
            a {
                color: #FFFFFF;
                display: block;
                font-size: 1.8rem;
                padding: 10px 0;
                text-transform: uppercase;
                transition: .3s;
                &:hover {
                    padding-left: 20px;
                }
            }
        }
    }
    @media @desktop {
        min-height: 100%;
    }
}

.hamburger {
    @animation-time: 400ms;
    width: 50px;
    height: 50px;
    position: fixed;
    border: none;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background-color: transparent;
    padding: 5px;
    span {
        display: block;
        width: 50%;
        height: 2px;
        left: 25%;
        background-color: #FFFFFF;
        margin: 0 auto;
        transition: transform-origin @animation-time, transform @animation-time, opacity @animation-time, width @animation-time;
    }
    .middle {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.hamburger,
.page-nav {
    z-index: 1;
    transition: transform @slide-time;
}

.nav-open {
    .page-nav {
        transform: translate3D(0, 0, 0);
    }
    .page-wrapper,
    .hamburger,
    .page-footer {
        transform: translate3d(-@nav-width, 0, 0);
    }
    .hamburger {
        .top,
        .bottom {
            width: 100%;
            transform-origin: 26% 0px 0px;
        }
        .top {
            transform: matrix3d(0.70711, 0.7071, 0, 0, -0.7071, 0.70711, 0, 0, 0, 0, 1, 0, 4, 1, 0, 1);
        }
        .middle {
            opacity: 0;
        }
        .bottom {
            transform: matrix3d(0.70711, -0.7071, 0, 0, 0.7071, 0.70711, 0, 0, 0, 0, 1, 0, 4, 0, 0, 1);
        }
    }
}