@desktop: ~"(min-width: 65em)";
@tablet: ~"(min-width: 48em)";
@nav-width: 220px;
@slide-time: 400ms;
@underline-color: #0372f4;
@primary-text-color: #212121;
@bg1: #000000;
@bg2: #212121;
@bg3: #303030;
@bg4: #424242;

.addUnderline(@width, @color) {
    &::after {
        content: '';
        position: relative;
        display: block;
        max-width: 80vw;
        width: @width;
        height: 5px;
        background: @color;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
    }
}
